@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../../public/fonts/OpenSans-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../../../public/fonts/OpenSans-SemiBold.ttf') format('woff2');
}
@font-face {
  font-family: 'Caros Soft';
  font-style: normal;
  font-weight: 500;
  src: url('../../../public/fonts/Caros Soft Bold.ttf') format('woff2');
}
@font-face {
  font-family: 'Caros Soft';
  font-style: normal;
  font-weight: 400;
  src: url('../../../public/fonts/Caros Soft Medium.ttf') format('woff2');
}
@font-face {
  font-family: 'Caros Soft';
  font-style: normal;
  font-weight: 600;
  src: url('../../../public/fonts/Caros Soft ExtraBold.ttf') format('woff2');
}
