@use "../../app/styles/common/function";

.root {
  padding-top: function.calcSize(98, 100, 768, 1920);
  position: relative;
  @media (max-width: 768px) {
    padding-top: function.calcSize(65, 98, 360, 768);
  }
}

.atreementTitle {
  margin: 0;
  color: var(--color-red-text);
  font-size: 36px;
  text-align: center;
  padding-top: function.calcSize(81, 40, 768, 1920);
  padding-bottom: 40px;
  @media (max-width: 768px) {
    font-size: function.calcSize(24, 36, 360, 768);
    padding-top: function.calcSize(76, 81, 360, 768);
    padding-bottom: function.calcSize(24, 40, 360, 768);
  }
}
.buttonBack {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  font-size: 24px;
  column-gap: 20px;
  align-items: center;
  position: absolute;
  top: function.calcSize(121, 143, 768, 1920);
  @media (max-width: 768px) {
    font-size: function.calcSize(14, 24, 360, 768);
    column-gap: function.calcSize(10, 20, 360, 768);
    top: function.calcSize(89, 121, 360, 768);
  }
}
.backArrow {
  width: 32px;
  height: 37px;
  transform: rotate(180deg);
  @media (max-width: 768px) {
    width: function.calcSize(24, 32, 360, 768);
    height: function.calcSize(27, 37, 360, 768);
  }
}
.text {
  line-height: normal;
  font-size: 24px;
  padding-inline: function.calcSize(55, 238, 768, 1920);
  @media (max-width: 768px) {
    font-size: function.calcSize(18, 24, 360, 768);
  }
}

.document {
  h1 {
    margin: 0;
    color: var(--color-red-text);
    font-size: 36px;
    text-align: center;
    padding-top: function.calcSize(81, 40, 768, 1920);
    padding-bottom: 40px;
    @media (max-width: 768px) {
      font-size: function.calcSize(24, 36, 360, 768);
      padding-top: function.calcSize(76, 81, 360, 768);
      padding-bottom: function.calcSize(24, 40, 360, 768);
    }
  }
  h2 {
    line-height: normal;
    font-size: 24px;
    padding-inline: function.calcSize(55, 238, 768, 1920);

    @media (max-width: 768px) {
      font-size: function.calcSize(18, 24, 360, 768);
    }
  }
  h3 {
    line-height: normal;
    font-size: 24px;
    padding-inline: function.calcSize(55, 238, 768, 1920);
    @media (max-width: 768px) {
      font-size: function.calcSize(18, 24, 360, 768);
    }
  }
}
